footer {
    background: url("/images/bg-footer-squiggle.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px 0;
}

@media (max-width: 820px) {
    footer {
        margin-bottom: 64px;
    }
}

@media (max-width: 600px) {
    footer {
        padding: 0 16px;
        background-size: auto 100px;
        background-position: center;
    }
}