// Color Palette
$neutral-900: #080C20;
$neutral-400: #777F98;
$neutral-0: #FFFFFF;
$cyan-400: #3EE9E5;
$red-400: #FF2965;
$blue-800: #093F68;
$blue-gray-500: #6B8CA4;

//Semantic Values
$clr-bg: $neutral-900;
$clr-text-body: $neutral-400;
$clr-text-heading: $neutral-0;
$clr-accent: $cyan-400;
$clr-bg-light: $blue-800;
$clr-error: $red-400;
$clr-field-placeholder: $blue-gray-500;